doctype html
//- Import mixins here to use globally
include ../../_includes/mixins/mixins.pug
html(lang="en")
	head
		title Page
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		link(rel="icon" href="media/favicon.ico" type="image/x-icon")
		link( rel='icon', href='media/favicon.ico', type='image/x-icon' )
		link( rel='stylesheet', href='assets/css/base.css' )
		link( rel='stylesheet', href='assets/css/neu.css' )

		script( src='components/base/core.min.js' )
		script( src='components/base/script.js' )
	body
		.wrapper
			include ../partials/navbar.pug
			.page
				.content
					block page
					block content
					// Intro
					include ../content/getintouch.pug
					include ../partials/footerscripts.pug

	
